*
{
	width: :100%;
	margin: 0;
	padding: 0;
}

.logo img {
width: 100px;
margin-top: 20px;
margin-left: 100px;
	float: left;
	
}
.nav
 {
 	 padding: 40px  90px;
 	list-style: none;
 	
	float:right;

}
.nav li
 {
	display: inline-block;
}

.nav li a
{
	text-decoration: none;
	color: lightgrey;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
  border:1px solid transparent;
}

.nav li.active a
 {
	border: 1px solid lightgrey;
}
.nav li a:hover {

	border: 1px solid lightgrey;
}

.sp hr {

	width: 100%;
	position: relative;
	margin-top: 30px;
	color: #07abef;
}

header {
	background: gray;

}

.flex-container {
  width: 80%;

  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-container img{
  margin-top: 13px;
}




.flex-container img:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  -ms-transform: scale(1.6); /* IE 9 */
  -webkit-transform: scale(1.6); /* Safari 3-8 */
  transform: scale(1.6); 
}




.hrp {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 70px;

margin-bottom: 50px;

}

.hrp p {

  font-size: 35px;
  padding-left:10px;
   padding-right:10px;
}



.foo {

  margin-left: 470px;
  margin-top: -135px;
}

.card-wrap{

  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
}

.card-wrap {

  background: gray;
}
.col-sm-4 p {

  margin-left: 60px;
  margin-top: 20px;
  font-family:font-family:Courier;

  color: lightgrey;
}
.col-sm-4 h3  {
margin-left: 130px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;

  color: lightgrey;
}
.col-sm-4 h4  {
margin-left: 130px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;

  color: lightgrey;
}

.col-sm-4 hr  {
margin-left: 130px;
}
footer {
background: gray;
  margin-top: 70px;
}

.container-full {

  margin-top: 90px;

  margin: 0 auto;
  width: 100%;
}
.card-wra {


  height: 80px;
  background: gray;

display: flex;

  flex-wrap: wrap;
  justify-content: center;

}
.card-wra p{

  display: flex;
  align-items: flex-start;

  color: lightgrey;
}

.log img{
margin-top: 30px;
margin-left: 60px;
  width: 100px;
  justify-content:center;
}

.fa {

  font-size: 20px;
}

.fa:hover{

  cursor: pointer;
  color: #f6f6f6;
}

@media screen and  (max-width: 650px){


  .nav{
position: relative;
    
    margin-top: -20px;
    width: 300px;

    margin-right: 80px;

    
  }
  .logo img {

    margin-left: 200px;
  }
  .hrp hr {

    display: none;
  }
  .flex-container img:hover{
    -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1); 
   box-shadow: none;
}
.flex-container img{

  height: 30%;
}

}